<% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>


<h1>Welcome, <%= @teacher.name %>, here are all categories for this Gym:</h1>

<h3>
  <p><% Category.all.each do |category| %>
     <p><a href="/teachers/<%= category.teacher.slug %>"><%= category.teacher.name %> adding a class! <a href="/categories/<%= category.id %>">"<%= category.content %>"</p>
    <% end %>
  </p> </h3>

      <br>
      <p><a href="/categories/new">Create a New Category</a></p>
        <p><a href="/categories">Home</a></p>
